
@using SmartHome.Models.DataContracts;
@model List<SensorBase>
@{
// ViewBag.Title = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var d in Model)
        {
            <tr>
                <td>@d.DisplayName</td>
                <td id="@d.ClientId">@d.Value</td>
                <td><nobr>@d.MeasureTime.ToString("dd.MM HH:mm", new System.Globalization.CultureInfo("ru-RU"))</nobr></td>
            </tr>
        }
    </tbody>
</table>
